---
http_interactions:
- request:
    method: get
    uri: https://api.zype.com/videos?app_key=<ZYPE_API_KEY>&order=desc&page=1&per_page=20&sort=published_at
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"_id":"56a7b83069702d2f8306d9b7","active":true,"categories":[{"title":"YouTube
        Channel","value":["Saturday Night Live"]}],"country":null,"created_at":"2016-01-26T13:17:20.662-05:00","description":"Gavin
        Daly (Pete Davidson) testifies about having an inappropriate sexual relationship
        with his teachers (Ronda Rousey, Cecily Strong) – happily.\n\nSubscribe to
        the SNL channel for more clips: http://goo.gl/24RRTv\n\nDownload the SNL App
        for free: http://www.nbc.com/saturday-night-live/app\n\nFor more SNL 40th
        Anniversary Special: http://goo.gl/gLyPTc\n\nGet more SNL on Hulu Plus: http://www.hulu.com/saturday-night-live\n\nGet
        more SNL: http://www.nbc.com/saturday-night-live\nFull Episodes: http://www.nbc.com/saturday-night-live/video\n\nLike
        SNL: https://www.facebook.com/snl\nFollow SNL: https://twitter.com/nbcsnl\nSNL
        Tumblr: http://nbcsnl.tumblr.com/\nSNL Instagram: http://instagram.com/nbcsnl
        \nSNL Google+: https://plus.google.com/+SaturdayNightLive/ \nSNL Pinterest:
        http://www.pinterest.com/nbcsnl/","disable_at":null,"discovery_url":null,"duration":305,"enable_at":null,"episode":null,"featured":false,"foreign_id":null,"keywords":[],"mature_content":false,"pass_required":false,"preview_ids":[],"published_at":"2016-01-24T04:03:19.000-05:00","purchase_price":null,"purchase_required":false,"rating":0.0,"related_playlist_ids":[],"rental_duration":null,"rental_price":null,"rental_required":false,"request_count":0,"season":null,"short_description":null,"site_id":"56a7b4a369702d1927000000","status":"created","subscription_required":false,"title":"Teacher
        Trial with Ronda Rousey - SNL","updated_at":"2016-01-26T13:17:53.926-05:00","zobject_ids":[],"thumbnails":[{"aspect_ratio":1.33,"height":90,"name":null,"url":"https://i.ytimg.com/vi/m6uvv1aS5_I/default.jpg","width":120},{"aspect_ratio":1.78,"height":180,"name":null,"url":"https://i.ytimg.com/vi/m6uvv1aS5_I/mqdefault.jpg","width":320},{"aspect_ratio":1.33,"height":360,"name":null,"url":"https://i.ytimg.com/vi/m6uvv1aS5_I/hqdefault.jpg","width":480},{"aspect_ratio":1.33,"height":480,"name":null,"url":"https://i.ytimg.com/vi/m6uvv1aS5_I/sddefault.jpg","width":640},{"aspect_ratio":1.78,"height":720,"name":null,"url":"https://i.ytimg.com/vi/m6uvv1aS5_I/maxresdefault.jpg","width":1280}],"hulu_id":null,"youtube_id":"m6uvv1aS5_I","vimeo_id":null,"crunchyroll_id":null,"transcoded":false},{"_id":"56a7b83069702d2f830cd9b7","active":true,"categories":[{"title":"YouTube
        Channel","value":["Saturday Night Live"]}],"country":null,"created_at":"2016-01-26T13:17:20.760-05:00","description":"Sarah
        Palin (Tina Fey) endorses Donald Trump (Darrell Hammond) for president at
        an Iowa campaign stop.\n\nSubscribe to the SNL channel for more clips: http://goo.gl/24RRTv\n\nDownload
        the SNL App for free: http://www.nbc.com/saturday-night-live/app\n\nFor more
        SNL 40th Anniversary Special: http://goo.gl/gLyPTc\n\nGet more SNL on Hulu
        Plus: http://www.hulu.com/saturday-night-live\n\nGet more SNL: http://www.nbc.com/saturday-night-live\nFull
        Episodes: http://www.nbc.com/saturday-night-live/video\n\nLike SNL: https://www.facebook.com/snl\nFollow
        SNL: https://twitter.com/nbcsnl\nSNL Tumblr: http://nbcsnl.tumblr.com/\nSNL
        Instagram: http://instagram.com/nbcsnl \nSNL Google+: https://plus.google.com/+SaturdayNightLive/
        \nSNL Pinterest: http://www.pinterest.com/nbcsnl/","disable_at":null,"discovery_url":null,"duration":310,"enable_at":null,"episode":null,"featured":false,"foreign_id":null,"keywords":[],"mature_content":false,"pass_required":false,"preview_ids":[],"published_at":"2016-01-24T04:00:53.000-05:00","purchase_price":null,"purchase_required":false,"rating":0.0,"related_playlist_ids":[],"rental_duration":null[...]
