---
http_interactions:
- request:
    method: get
    uri: https://api.zype.com/videos?app_key=<ZYPE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"_id":"56a7b83e69702d2f83abdcb7","active":true,"categories":[{"title":"YouTube
        Channel","value":["Saturday Night Live"]}],"country":null,"created_at":"2016-01-26T13:17:34.482-05:00","description":"Kyle
        Mooney puts his interviewing skills to the test at the circus. Aired 3/28/15","disable_at":null,"discovery_url":null,"duration":193,"enable_at":null,"episode":null,"featured":false,"foreign_id":null,"keywords":[],"mature_content":false,"pass_required":false,"preview_ids":[],"published_at":"2015-03-29T16:21:19.000-04:00","purchase_price":null,"purchase_required":false,"rating":0.0,"related_playlist_ids":[],"rental_duration":null,"rental_price":null,"rental_required":false,"request_count":0,"season":null,"short_description":null,"site_id":"56a7b4a369702d1927000000","status":"created","subscription_required":false,"title":"Circus
        - Saturday Night Live","updated_at":"2016-01-26T13:17:57.793-05:00","zobject_ids":[],"thumbnails":[{"aspect_ratio":1.33,"height":90,"name":null,"url":"https://i.ytimg.com/vi/bj3D2RwyhuU/default.jpg","width":120},{"aspect_ratio":1.78,"height":180,"name":null,"url":"https://i.ytimg.com/vi/bj3D2RwyhuU/mqdefault.jpg","width":320},{"aspect_ratio":1.33,"height":360,"name":null,"url":"https://i.ytimg.com/vi/bj3D2RwyhuU/hqdefault.jpg","width":480},{"aspect_ratio":1.33,"height":480,"name":null,"url":"https://i.ytimg.com/vi/bj3D2RwyhuU/sddefault.jpg","width":640},{"aspect_ratio":1.78,"height":720,"name":null,"url":"https://i.ytimg.com/vi/bj3D2RwyhuU/maxresdefault.jpg","width":1280}],"hulu_id":null,"youtube_id":"bj3D2RwyhuU","vimeo_id":null,"crunchyroll_id":null,"transcoded":false},{"_id":"56a7b83169702d2f834bd9b7","active":true,"categories":[{"title":"YouTube
        Channel","value":["Saturday Night Live"]}],"country":null,"created_at":"2016-01-26T13:17:21.988-05:00","description":"Weekend
        Update anchors Colin Jost and Michael Che tackle the week''s biggest news,
        including Jeb Bush saying he''d send troops to Syria and Bobby Jindal ending
        his presidential campaign. Colin and Michael discuss the Syrian refugee crisis
        and Newcaster of Tomorrow Laura Parsons (Vanessa Bayer) stops by.\n\nSubscribe
        to the SNL channel for more clips: http://goo.gl/24RRTv\n\nDownload the SNL
        App for free: http://www.nbc.com/saturday-night-live/app\n\nFor more SNL 40th
        Anniversary Special: http://goo.gl/gLyPTc\n\nGet more SNL on Hulu Plus: http://www.hulu.com/saturday-night-live\n\nGet
        more SNL: http://www.nbc.com/saturday-night-live\nFull Episodes: http://www.nbc.com/saturday-night-live/video\n\nLike
        SNL: https://www.facebook.com/snl\nFollow SNL: https://twitter.com/nbcsnl\nSNL
        Tumblr: http://nbcsnl.tumblr.com/\nSNL Instagram: http://instagram.com/nbcsnl
        \nSNL Google+: https://plus.google.com/+SaturdayNightLive/ \nSNL Pinterest:
        http://www.pinterest.com/nbcsnl/","disable_at":null,"discovery_url":null,"duration":392,"enable_at":null,"episode":null,"featured":false,"foreign_id":null,"keywords":[],"mature_content":false,"pass_required":false,"preview_ids":[],"published_at":"2015-11-22T04:14:56.000-05:00","purchase_price":null,"purchase_required":false,"rating":0.0,"related_playlist_ids":[],"rental_duration":null,"rental_price":null,"rental_required":false,"request_count":0,"season":null,"short_description":null,"site_id":"56a7b[...]
