#login {
  font-size: 1.3em;

  .login-container {
    width: 40%;
    margin: 0 auto;
    font-size: 1.2em;
  }

  .header {
    text-align: center;
  }

  .form-group {
    margin-bottom: 1em;
  }

  input {
    display: block;
    float: right;
  }
}
