.player-container {
  position: relative;

  .firewall-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.6);
    text-align: center;

    .firewall-controls {
      width: 50%;
      margin: auto;
      margin-top: 18%;
      padding-bottom: 150px;
      background-color: $green-juice;
      border-radius: 7px;

      h2 {
        background-color: white;
        color: $green-juice;
        padding: .75em 0;
        font-weight: normal;
      }

      a {
        margin: 2em 1.2em 0;
        font-size: 1.2em;
      }
    }
  }
}
