.container
  .videos
    -@videos.each do |video|
      %a(href="/videos/#{video.zype_id}")
        .video
          .video-thumbnail(style="background-image: url('#{video.thumbnails[1]['url']}'); height: #{video.thumbnails[1]['height']}px")
          %ul
            %li
              =video.title
            %li.published-at
              %span published:
              %span #{time_ago_in_words(video.published_at)} ago
          .caption-overlay
            .video-description
              =video.description
